*{
    margin: 0;
    padding: 0;

}
.header{
    background:black;
    max-width: 100%;

}
.logotipo{
    width: 70px;
    border-radius: 50%;

}
.header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    padding: 15px;


}
.header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;

}
a{
    text-decoration: none;
    font-size: 20px;
    color: chartreuse;
    padding: 12px 20px;
    display: block;

}
a:hover{
    background-image: linear-gradient(black,green);
}
.header nav ul li ul{
    display: flex;
    flex-direction: column;
}
.header nav ul li ul{
    position: absolute;
    background:black;
}
.header nav ul li ul li{
    width: 190px;
    position: relative;


}
.header nav ul li ul li ul{
    position: absolute;
    top: 0;
    left: 180px;
    
}
.header nav ul li ul{
    display: none;

}
.header nav ul li:hover > ul{
    display: block;

}
body{
    background-image: linear-gradient(to right, blue,green,yellowgreen);

}


.slider{
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

}
